body {
    background-color: #1ce;
    min-height: 100vh;
    text-align: center;
    padding: 100px;
}
.container {
    background-color: #fff;
    margin: 0 auto;
    width: 40vw;
    padding: 40px;
    height: 35vh;
}
input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px 8px;
    margin-bottom: 40px;
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    border: 2px solid #2272ee;
    border-radius: 5px;
    font-size: 20px;
}
button:hover {
    background: #2272ee;
    color: #fff;
}
.message-out h3, p {
    text-align: left;
}
